body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f4f6f9;
}

.navbar {
  background: white;
  padding: 20px 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

.page-header {
  margin: 30px;
  background: white;
  padding: 30px;
  border-radius: 15px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  margin: 30px;
}

.left, .box {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.school-img {
  width: 100%;
  border-radius: 15px;
  margin: 20px 0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  object-fit: cover;
}
